#add-new {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ca453b;
    color: white;
    margin-top: 5px;
    height: 30px;
}

#add-new:hover {
    cursor: pointer;
    opacity: 0.7;
}

#catalog-container {
    position: fixed;
    /*margin-top: 15px;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*position: fixed;*/
    /*margin-top: 60px;*/
    z-index: 1;
    left: 10px;

}

.catalog-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 220px;
    margin-top: 5px;
}


.catalog-name {
    background-color: #ca453b;
    color: white;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-name:hover {
    cursor: pointer;
    opacity: 0.7;
}

.fa-trash-alt {
    background-color: #ca453b;
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-trash-alt:hover {
    cursor: pointer;
    opacity: 0.7;
}