ul {
  list-style: none;
}
.list-group-item {
  border: 1px solid rgb(179, 179, 179);
  margin: 2px;
  border-radius: 4px;
  padding: 7px;
  display: flex;
}
.video-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.media-body {
  padding: 0 4px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.video-container {
  position: fixed;
  left: 50%;
  height: 400px;
  width: 600px;
  z-index: 10;
  /* box-shadow: 3px 3px 5px 6px rgb(151, 149, 149); */
  padding: 20px;
  margin-left: -250px;
  margin-top: -200px;
  background-color: white;
}

.video-window {
  height: 300px;
}

.embed {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}