body {
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 70px;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
}

.right-sidebar {
    bottom: 0;
    right: 0;
}

.left-sidebar {
    bottom: 0;
    left: 0;
}

.playlist-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}


.catalog-item {
    display: flex;
    flex-direction: row;
}

.playlist-option {
    display: flex;
    flex-direction: row;
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
}

.catalog-name, .btn-fluid, .add-new-btn {
    width: 100%;
}

.playlist-item {
    text-align: center;
}

.btn-sets {
    margin: 2px;
}

.playlist-card, .playlist-option {
    margin-bottom: 10px;
}

.item-list {
    margin-top: 70px;
}

.item-result {
    margin-bottom: 10px;
    padding: 6px;
}

.modal-backdrop {
    opacity: 0.5;
}