#playlist-scroll {
    position: fixed;
    margin-top: 45px;
    z-index: 1;
    right: 10px;
    height: calc(100% - 117px);
    overflow-y: auto;
}

.playlist-option {
    position: fixed;
    /*margin-top: 15px;*/
    z-index: 2;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#playlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.video-buttons {
    display: flex;
    justify-content: center;
}

.video-picture {
    width: 200px;
    height: 150px;
}

.video-name {
    margin: 5px;
    text-align: center;
}

.playlist-element-component {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    margin-bottom: 20px;
    width: 220px;
}


.playlist-name {
    background-color: #ca453b;
    color: white;
    width: 190px;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.playlist-name:hover {*/
    /*cursor: pointer;*/
    /*opacity: 0.7;*/
/*}*/

.fa-trash-alt {
    background-color: #ca453b;
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-trash-alt:hover {
    cursor: pointer;
    opacity: 0.7;
}

#play-button {
    background-color: #ca453b;
    color: white;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media only screen and (max-width: 900px) {
    #playlist-scroll {
        /*position: fixed;*/
        /*margin-top: 340px;*/
        z-index: 2;
        right: calc(100% - 240px);
        /*left: -460px;*/
        height: 50vh;
        /*bottom: 10px;*/
        overflow-y: auto;
        bottom: 0px;
    }

    .playlist-option {
        /*position: fixed;*/
        bottom: 50vh;
        z-index: 3;
        right: calc(100% - 232px);
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: center;*/
    }
}